/Dia 3/DayThree/nbproject/private/
/Dia 3/DayThree/build/
/Dia 3/DayThree/dist/
/Dia 4/DayFour/nbproject/private/
/Dia 4/DayFour/build/
/Dia 4/DayFour/dist/
/Dia 5/DayFive/nbproject/private/
/Dia 5/DayFive/build/
/Dia 6/DaySix/nbproject/private/
/Dia 6/DaySix/build/
/Dia 6/DaySix/dist/
/Dia 7/DaySeven/nbproject/private/
/Dia 7/DaySeven/build/
/Dia 7/DaySeven/dist/
/Dia 7/DayEight/nbproject/private/
/Dia 7/DayEight/build/
/Dia 10/DayTen/nbproject/private/
/Dia 10/DayTen/build/
/Dia 10/DayTen/dist/
/Dia 11/DayEleven/nbproject/private/
/Dia 11/DayEleven/build/
/Dia 11/DayEleven/dist/
/Dia 11/DayElevenMaven/target/
/Revisao 1/TreinoExcecoes/nbproject/private/
/Revisao 1/TreinoExcecoes/build/
/Revisao 1/TreinoExcecoes/dist/
/Revisao 1/Colecoes/nbproject/private/
/Desafio 1/Desafio/nbproject/private/
/Desafio 1/Desafio/build/
/Desafio 1/Desafio/dist/
